body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

.container {
    background: white;
    padding: 30px;
    margin: 100px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    /* width: 90%; */
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
